@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy-Light'), local('Gilroy Light'),
    url('../assets/fonts/Gilroy-Light.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: local('Gilroy-ExtraBold'), local('Gilroy Extra Bold'),
    url('../assets/fonts/GilroyBold.otf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}